/* make scrolling smooth */

html{
    scroll-behavior: smooth;
}

/* header * {
    border: solid 1px white;
} */

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navigation styles start */

header{
    background: #301b69;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

header img{
    max-block-size: 75px;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: #FFF9B9;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #301b69;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    text-decoration: none;
    color: #FFF9B9;
    font-family: 'Montserrat', sans-serif;
    background-attachment: #301B69;
    font-size: 1.5rem;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #301B69;
    background-color: #FFF9B9;
    border-radius: 3px;
    outline: none;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ .nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media screen and (min-width: 960px) {
    
    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo{
        grid-column: 2 / 3;
    }

    nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul{
        display: flex;
        justify-content: flex-end;
    }

    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a{
        opacity: 1;
        position: relative;
    }

    nav a:hover {
        color: #301B69;
        background-color: #FFF9B9;
        border-radius: 3px;
        outline: none;
    }

}